@{
    ViewData["Title"] = "Clientes";
}

<div class="text-center">
    <h1 class="display-4"> Listagem de Clientes</h1>
  
    <table class="table table-hover mt-5">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Nome</th>
                <th scope="col">Email</th>
                <th scope="col">Telefone</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto@gmail.com</td>
                <td>14 999999999</td>
                <td>
                    <button type="button" class="btn btn-warning">Editar</button>
                </td>
                <td>
                    <button type="button" class="btn btn-danger">Deletar</button>
                </td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton@gmail.com</td>
                <td>14 999999999</td>
                <td></td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Larry the Bird</td>
                <td>Bird@gmail.com</td>
                <td>14 99999999</td>
                <td></td>
            </tr>
        </tbody>
    </table>

</div>

