@model ClientIndexViewModel



@{
    ViewData["Title"] = "Clientes";
}

<div class="text-center">
    <h1 class="display-4"> Listagem de Clientes</h1>

    <div class="d-grip gap-2 d-md-flex justify-content-end">
        <button type="button" class="btn btn-primary mb-3 btn-lg" data-toggle="modal" data-target="#clientModal">
            Novo Cliente
        </button>
    </div>
    
  
    <table class="table table-hover mt-5">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Nome</th>
                <th scope="col">Email</th>
                <th scope="col">Telefone</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @if (Model?.Clients != null && Model.Clients.Any()) {
                    @foreach (Client item in Model.Clients) {
                        <tr>
                            <th scope="row">@item.Id</th>
                            <td>@item.Name</td>
                            <td>@item.Email</td>
                            <td>@item.Phone</td>
                            <td>
                                <button type="button" class="btn btn-warning">Editar</button>
                            </td>
                            <td>
                                <button type="button" class="btn btn-danger">Deletar</button>
                            </td>
                        </tr>
                    }
                }
        </tbody>
    </table>

</div>

@* view partial *@
@await Html.PartialAsync("_ClientModal", Model.NewClient)


@* section scripts *@
@section Scripts {
    <script src="~/js/Client/CreateClient.js"></script>
}