@{
    ViewData["Title"] = "Relatórios";
}

<h2>Gerar relatório de venda</h2>

<a asp-controller="Report" asp-action="GerarReport"> Gerar Relatorio</a> ou <a asp-controller="Report" asp-action="SalesPDF"> Gerar Relatorio PDF</a>